{{#if icons}}{
    <td title="Produit composé - {{ tooltipTitle }}">
            {{#each icons}}
        <span class='icon type'>
        <svg><use href='/static/icons/endi.svg#{{ this }}'></use></svg>
            </span>
        <br />
            {{/each}}
    </td>
{{else}}
    <td title='{{ tooltipTitle }}'></td>
{{/if}}
<td class='col_text' title='{{ tooltipTitle }}'>
{{ id }}
</td>
<td class='col_text' title='{{ tooltipTitle }}'>
{{ label }}
</td>
<td class='col_text' title='{{ tooltipTitle }}'>
{{ ref }}
</td>
<td class='col_text' title='{{ tooltipTitle }}'>
{{ supplier_label }}
</td>
<td class='col_text' title='{{ tooltipTitle }}'>
{{ category_label }}
</td>
<td class='col_number' title='{{ tooltipTitle }}'>
{{{ current_stock }}}
</td>
<td class='col_number' title='{{ tooltipTitle }}'>
{{{ supplier_ht_label }}}
</td>
<td class='col_number' title='{{ tooltipTitle }}'>
{{{ ht_label }}}
</td>
<td class='col_text' title='{{ tooltipTitle }}'>
{{ unity }}
</td>
{{#if tvaMode}}
<td class='col_text' title='{{ tooltipTitle }}'>
{{ tva_label }}
</td>
{{/if}}
<td class='col_actions width_two'>
</td>
