<script setup>
  import { ref } from 'vue'

  import { storeToRefs } from 'pinia'

  import FormFlatLayout from '../../layouts/FormFlatLayout.vue'
  import { useProjectConfigStore, useProjectStore } from '../../stores/project'
  import ProjectForm from './ProjectForm.vue'

  // props attendu par le composant
  const props = defineProps({
    edit: { type: Boolean, default: false },
    projectId: { type: Number || null, default: null },
    url: { type: String, required: true },
    formConfigUrl: { type: String, required: true },
    layout: { type: Object, default: FormFlatLayout },
  })
  const isEdit = !!props.projectId
  const emit = defineEmits(['saved', 'cancel'])

  const formConfigStore = useProjectConfigStore()
  formConfigStore.setUrl(props.formConfigUrl)

  const projectStore = useProjectStore()
  projectStore.setUrl(props.url)

  const loading = ref(true)
  const preload = async () => {
    const promises = [formConfigStore.loadConfig()]

    if (isEdit) {
      promises.push(projectStore.load())
    }
    Promise.all(promises).then(() => (loading.value = false))
  }
  preload()

  let project
  if (isEdit) {
    const { item } = storeToRefs(projectStore)
    project = item
  } else {
    project = ref({})
  }

  function onSubmit(values) {
    console.log('Saving project')
    projectStore.save(values, project.value).then((item) => emit('saved', item))
  }
  function onCancel() {
    console.log('Cancel Project add/edit')
    emit('cancel')
  }
</script>
<template>
  <div v-if="loading">Chargement des informations</div>
  <ProjectForm
    v-else
    :project="project"
    :layout="layout"
    @submit="onSubmit"
    @cancel="onCancel"
  />
</template>
