<h2 class='title collapse_title'>
    <a
        data-target='#notes-content'
        data-toggle='collapse'
        aria-expanded="false"
        aria-controls="notes-content"
        >
		<svg class="arrow"><use href="/static/icons/endi.svg#chevron-down"></use></svg>
        Notes complémentaires
    </a>
</h2>
<div class='collapse_content'>
	<div id="notes-content" class='content collapse' aria-expanded="false">
        <div class='notes'></div>
    </div>
</div>
