<section id="customer_add_form" class="modal_view size_middle">
    <div role="dialog" id="customer-forms" aria-modal="true" aria-labelledby="customer-forms_title">
        <div class="modal_layout">
            <header>
                <button class="icon only unstyled close" title="Fermer cette fenêtre" aria-label="Fermer cette fenêtre" onclick="toggleModal('customer_add_form'); return false;">
                    <svg><use href="/static/icons/endi.svg#times"></use></svg>
                </button>
                <h2 id="customer-forms_title">Entrée statistique <em>{{ title }}</em></h2>
            </header>
            <div class="modal_content_layout">
                <div class="modal_content">
                    <div>
                        <p>
                        {{description}}
                        </p>
                    </div>
                    <div id='entry_list_header'>
                        <form id='entry_edit_form' style='display:none' class='well'>
                            <button type="button" class="icon only unstyled close">
                                <svg><use href="/static/icons/endi.svg#times"></use></svg>
                            </button>
                            <fieldset>
                                <legend>Édition</legend>
                                <div class='row form-row'>
                                    <div class="form-group col-md-6">
                                        <label class='control-label' for="title">Intitulé de l’entrée statistique <b class='required'>*</b></label>
                                        <input type="text" name='title' class="form-control" id="title" placeholder="Titre" value='{{title}}'>
                                        <span class='help-block'>
                                            Sera utilisé dans le fichier de sortie
                                        </span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class='control-label' for="title">Description de l’entrée statistique</label>
                                        <textarea name='description' class="form-control" id="title" placeholder="Description">{{description}}</textarea>
                                    </div>
                                </div>
                            </fieldset>
                            <button type="submit" class="btn btn-primary btn-success" name='submit'>Valider</button>
                            <button type="reset" class="btn btn-danger" name="cancel">Annuler</button>
                        </form>
                    </div>
                    <div id='criteria'></div>
                    <div id='criterion-form' class='sub_modal'></div>
                </div>
                <footer>
                    <button class='btn edit' title="Modifier le titre de l’entrée statistique">
                        <svg><use href="/static/icons/endi.svg#pen"></use></svg>
                        Modifier
                    </button>
                    <button class='btn csv_export' title='Exporter les éléments correspondant à cette entrée statistiques'>
                        <svg><use href="/static/icons/endi.svg#file-export"></use></svg>
                        Exporter
                    </button>
                </footer>
           </div>
        </div>
    </div>
</section>