<h4>
    Mémos
    {{#if collectionLength}}
        <small>({{ collectionLength }})</small>
    {{/if}}
    <button class="btn icon only unstyled add_new" title="Ajouter un mémo"
            aria-label="Ajouter un mémo"
    >
        <svg><use href="/static/icons/endi.svg#plus"></use></svg>
    </button>
</h4>
<div class='modalregion'></div>
<ul class="comments"></ul>
{{#if hasHiddenItems }}
    <small>… et {{ hiddenItemsCount }} mémo{{ pluralize }} plus
        ancien{{ pluralize }}&nbsp;:</small>
    <a class="show_all" href="#">Voir tous les mémos</a>
{{/if}}
