<script setup>
const props = defineProps({
    debug: { type: Object }
})
</script>
<template>
    <div>
        Debug data shown because you're using development js files
        <pre v-html="JSON.stringify(debug, null, 2)" />

    </div>
</template>