<div class="separate_block border_left_block">
  <h2 class="title collapse_title">
    <a
      data-target="#discounts-content"
      data-toggle="collapse"
      aria-expanded="false"
      aria-controls="discounts-content"
      title="Remises"
      aria-label="Remises"
    >
      <svg class="arrow">
        <use href="../static/icons/endi.svg#chevron-down"></use>
      </svg>
      <span class="icon status error" title="Ce bloc comporte une erreur">
        <svg>
          <use href="../static/icons/endi.svg#exclamation-triangle"></use>
        </svg>
      </span>
      <span class="icon status success" title="Ce bloc est valide">
        <svg>
          <use href="../static/icons/endi.svg#check"></use>
        </svg>
      </span>
      Remises
    </a>
  </h2>
  <div class="collapse_content collapse in">
    <div id="discounts-content" class="content table_container">
      <div class="block-errors"></div>
      {{#if hasItems}}
        <table class="hover_table">
          <caption class="screen-reader-text">
            Liste des remises accordées au client dans cette étude de prix
          </caption>
          <thead>
            <tr>
              <th scope="col" class="col_text">
                Description
              </th>
              <th scope="col" class="col_number" title="Pourcentage">
                <span class="screen-reader-text">Pourcentage </span>%
              </th>
              <th scope="col" class="col_number" title="Prix Hors Taxes">
                <span class="screen-reader-text">Prix </span>H<span class="screen-reader-text">ors</span>T<span class="screen-reader-text">axes</span>
              </th>
              <th scope="col" class="col_text" title="Taux de TVA">
                <span class="screen-reader-text">Taux de </span>TVA
              </th>
              <th scope="col" class="col_actions width_two" title="Actions">
                <span class="screen-reader-text">Actions</span>
              </th>
            </tr>
          </thead>
          <tbody class="lines"></tbody>
        </table>
      {{/if}}
      {{#if editable}}
        <div class="actions content_double_padding align_right">
          <button
            type="'button"
            class="btn add-discount"
            title="Ajouter une remise"
          >
            <svg>
              <use href="/static/icons/endi.svg#plus"></use>
            </svg>
            Ajouter une remise
          </button>
        </div>
      {{/if}}
    </div>
  </div>
</div>