<thead>
    <tr>
        <th scope="col" class="col_text"><span class="screen-reader-text">Intitulé</span></th>
        <th scope="col" class="col_actions" title="Actions"><span class="screen-reader-text">Actions</span></th>
   	</tr>
</thead>
<tbody></tbody>