<script setup>
  import { inject } from 'vue'
  import Select2 from 'components/forms/Select2.vue'
  import http from 'helpers/http'
  import { formContextInjectionKey } from 'helpers/form'

  const options = await http.get('/api/v1/companies/?fields=id&fields=name')
  const { getFormFieldData } = inject(formContextInjectionKey)
</script>
<template>
  <fieldset class="deformFormFieldset">
    <Select2
      :options="options"
      idKey="id"
      label-key="name"
      v-bind="getFormFieldData('source_company_id')"
    />
  </fieldset>
</template>
