<script setup>
  import { Suspense } from 'vue'
  import { collectOptions } from 'helpers/context.js'
  import CustomerFormComponent from './components/CustomerFormComponent.vue'

  const options = collectOptions()
  const redirectOnsave = (customer) => {
    window.location.replace('/customers/' + customer.id)
  }
  const redirectOnCancel = () => {
    window.location.href = options.api_url.replace('/api/v1/', '/')
  }
</script>

<template>
  <Suspense>
    <div>
      <CustomerFormComponent
        :edit="options.edit"
        :customerId="options.customer_id"
        :url="options.api_url"
        :formConfigUrl="options.form_config_url"
        @saved="redirectOnsave"
        @cancel="redirectOnCancel"
      />
    </div>
    <template #fallback> Chargement... </template>
  </Suspense>
</template>
