<div role="dialog" id="file-link-forms" aria-modal="true" aria-labelledby="file-link-forms_title">
	<div class="modal_layout">
		<header>
			<button tabindex='-1' type="button" class="icon only unstyled close" title="Fermer cette fenêtre" aria-label="Fermer cette fenêtre">
				<svg><use href="/static/icons/endi.svg#times"></use></svg>
			</button>
			<h2 id="file-link-forms_title">
                Lier un justificatif à une ou plusieurs dépenses
            </h2>
		</header>
        <form class="modal_content_layout">
			<div class="modal_content">
				<p class="content_vertical_padding separate_bottom">
					Sélectionnez une ou plusieurs dépenses correspondant au justificatif {{{file_label}}}.
				</p>
				<div class="table_container">
					<table class="opa hover_table top_align_table">
						<thead>
							<tr>
								<th scope="col" class="col_select" title="Sélection">
                                    <span class="screen-reader-text">Sélection</span>
                                </th>
								<th scope="col" class="col_date">
                                    Date
                                </th>
								<th scope="col" class="col_text" title="Type de dépense et description">
                                    Type<span class="screen-reader-text"> de dépense</span> et description
                                </th>
                                <th scope="col" class="col_text" title="Frais généraux / achat client">
                                    Catégorie
                                </th>
								<th scope="col" class="col_number" title="Montant Hors Taxes">
                                    <span class="screen-reader-text">Montant </span>H<span class="screen-reader-text">hors </span>T<span class="screen-reader-text">axes</span>
                                </th>
								<th scope="col" class="col_number">
                                    TVA
                                </th>
								<th scope="col" class="col_number" title="Montant Toutes Taxes Comprises">
                                    <span class="screen-reader-text">Montant </span>T<span class="screen-reader-text">outes </span>T<span class="screen-reader-text">axes </span>C<span class="screen-reader-text">omprises</span>
                                </th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
			<footer>
				<button
					class='btn btn-primary'
					type='submit'
					value='submit'>
					Fermer
				</button>
			</footer>
        </form>
	</div>
</div>
