<script setup>
  import { ref } from 'vue'
  import TaskAddForm from './TaskAddForm.vue'
  import { useTaskConfigStore, useTaskStore } from 'stores/task'
  import { useCustomerStore } from '../../stores/customer'
  import { useProjectStore } from '../../stores/project'

  const props = defineProps({
    initialData: Object,
  })
  const emit = defineEmits(['save', 'cancel'])
  const formConfigStore = useTaskConfigStore()
  const taskStore = useTaskStore()
  const customerStore = useCustomerStore()
  const projectStore = useProjectStore()

  const loading = ref(true)

  const preload = async () => {
    const request = formConfigStore.loadConfig()

    request.then((config) => {
      customerStore.setCollectionUrl(config.options.customers_url)
      projectStore.setCollectionUrl(config.options.projects_url)
      loading.value = false
    })
  }

  preload()
  const saveTask = (values) => {
    taskStore.save(values).then((task) => emit('save', task))
  }
  const onCancel = () => emit('cancel')
</script>
<template>
  <div v-if="loading">Chargement des informations</div>

  <TaskAddForm
    v-else
    :initial-data="initialData"
    v-on:submit="saveTask"
    v-on:cancel="onCancel"
  ></TaskAddForm>
</template>
