<div class='tree_view with_actions first_level'>
   <h1>
       {{title}}
        <span class='edit-btn-container'></span>
   </h1>
   <p>{{description}}</p>
    <form>
        <h2 class='title'>Choix des critères</h2>
        <div class='search_filters content vertical_padding criteria-container'>
        </div>
    </form>
</div>  
<div class='popup'></div>