// contextual help, messages

body.endi {
	.context_help {
		font-size: .875rem;
		h4 {
			padding: $unitPadding 0;
		}
		p {
			font-size: .825rem;
			padding: 5px 0;
		}
		dt {
			margin-top: $unitPadding*2;
		}
	}
	.message {
		margin-bottom: $unitPadding*2;
		padding: $unitPadding 0;
		&.success {
			svg {
				fill: var(--func-positive-color);
			}
		}
		&.error {
			svg {
				fill: var(--func-negative-color);
			}
		}
		&.caution {
			svg {
				fill: var(--func-caution-color);
			}
		}
		&.neutral {
			svg {
				fill: var(--func-neutral-color);
			}
		}
	}
	.alert {
		background: var(--message-default-background-color);
		border-left: 5px solid var(--message-default-border-color);
		margin: $unitPadding*2 0;
		padding: $unitPadding*4;
		position: relative;
		font-size: .875rem;
		> .icon {
			line-height: 1.5;
		}
		&.status {
			border-left-width: 0;
			text-align: center;
		}
		&.alert-info {
			background: var(--message-info-background-color);
			border-left-color: var(--func-neutral-color);
			.icon:not(.status) svg {
				fill: var(--func-neutral-color);
			}
		}
		&.alert-danger {
			background: var(--message-danger-background-color);
			border-left-color: var(--func-negative-color);
			.icon:not(.status) svg {
				fill: var(--func-negative-color);
			}
		}
		&.alert-success {
			background: var(--message-success-background-color);
			border-left-color: var(--func-positive-color);
			.icon:not(.status) svg {
				fill: var(--func-positive-color);
			}
		}
		&.alert-warning {
			background: var(--message-warning-background-color);
			border-left-color: var(--func-caution-color);
			.icon:not(.status) svg {
				fill: var(--func-caution-color);
			}
		}
		h2,
		h3,
		h4 {
			padding-bottom: $unitPadding;
		}
		ul, 
		ol {
			margin-bottom: 0;
			margin-top: 0;
		}
		ul {
			padding-top: $unitPadding;
		}
		button.close {
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	.border_left_block .alert {
		border-left: 0 none;
	}
	.action_feedback {
		position: relative;
		&::after {
			animation: dismiss_anim .5s ease-out 1s forwards;
			background-color: var(--func-neutral-color);
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: 1.5em auto;
			border-radius: 50%;
			box-shadow: 0 2px 4px var(--box-shadow-color);
			content: "";
			display: block;
			height: 3em;
			position: absolute;
			right: $unitPadding*2;
			top: $unitPadding*2;
			width: 3em;
		}
		&.success {
			&::after {
				background-color: $funcPositive;
				background-image: url("../icons/check.svg");
			}
		}
	}
	blockquote {
		background: var(--message-default-background-color);
		border-left: 5px solid var(--message-default-border-color);
		font-size: .875rem;
		margin: 0;
		padding: .6rem;
		position: relative;
		h5 {
			font-weight: bold;
			+ p {
				padding-top: $unitPadding;
			}
		}
		button.unstyled {
			float: right;
			margin: -.6rem -.6rem $unitPadding 1rem;
			shape-outside: margin-box;
			~ p:only-of-type,
			~ h5:only-child {
				min-height: 2rem;
			}
		}
		footer {
			border: 0 none;
			clear: right;
			color: var(--message-footer-color);
			font-size: .75rem;
			padding-top: $unitPadding;
			text-align: right;
			&::before {
				content: "";
			}
			.icon svg {
				fill: var(--message-footer-color);
				vertical-align: text-top;
			}
		}
		.icon.status {
			align-items: center;
			background: var(--message-default-border-color);
			border-radius: 0;
			bottom: 0;
			display: flex;
			height: auto;
			justify-content: center;
			left: 0;
			position: absolute;
			top: 0;
			width: 2rem;
			svg {
				fill: $white;
			}
		}
		&[class] {
			border-width: 0;
			padding-left: 2.6rem;
		}
		&.unknown {
			border-width: 5px;
			padding-left: .6rem;
		}
		&.success,
		&.valid,
		&.completed,
		&.partial_unpaid {
			background: var(--message-success-background-color);
		}
		&.caution,
		&.wait,
		&.danger {
			background: var(--message-warning-background-color);
		}
		&.error,
		&.invalid,
		&.cancelled,
		&.failed,
		&.unpaid {
			background: var(--message-danger-background-color);
		}
		&.neutral,
		&.planned {
			background: var(--message-info-background-color);
		}
	}
	.memos.status_history > ul {
		/* Not applied in popin */
		> li:only-child blockquote:not(.pinned) > div {
			clip-path: polygon(0 0, 100% 0, 100% 18.75rem, 0 18.75rem);
			max-height: 18.75rem;
			-webkit-mask-image: linear-gradient(180deg, $black 0%, $black 18rem, $transparentBg 18.75rem);
			mask-image: linear-gradient(180deg, $black 0%, $black 18rem, $transparentBg 18.75rem);
		}
		> li:nth-child(2):last-child blockquote:not(.pinned) > div,
		> li:nth-last-child(2):first-child blockquote:not(.pinned) > div {
			clip-path: polygon(0 0, 100% 0, 100% 13.75rem, 0 13.75rem);
			max-height: 13.75rem;
			-webkit-mask-image: linear-gradient(180deg, $black 0%, $black 13rem, $transparentBg 13.75rem);
			mask-image: linear-gradient(180deg, $black 0%, $black 13rem, $transparentBg 13.75rem);
		}
		> li > blockquote:not(.pinned) > div {
			clip-path: polygon(0 0, 100% 0, 100% 7.75rem, 0 7.75rem);
			max-height: 7.75rem;
			-webkit-mask-image: linear-gradient(180deg, $black 0%, $black 7rem, $transparentBg 7.75rem);
			mask-image: linear-gradient(180deg, $black 0%, $black 7rem, $transparentBg 7.75rem);
			cursor: pointer;
		}
	}
	.status_history {
		h4 {
			padding-top: .5em;
			.btn.unstyled {
				margin-top: -.75em;
			}
		}
		ul {
			list-style-type: none;
		}
		li {
			margin: $unitPadding 0;
			padding: 0;
			blockquote {
				margin: 0;
			}
		}
		li:nth-child( n + 2 ) {
			margin: $unitPadding 0;
			blockquote {
				padding-bottom: .4rem;
				padding-top: .4rem;
				footer {
					padding-top: $unitPadding/2;
				}
			}
		}
		li:nth-child( n + 5 ) {
			margin: $unitPadding/2 0;
			blockquote {
				padding-bottom: .25rem;
				padding-top: .25rem;
				p.status + p {
					padding-top: 0;
				}
			}
		}
	}
	.layout.two_cols > .status_history:not(.in_form) {
		flex: 0 1 25em;
		padding-left: 0;
		&:not(.memos) {
			flex-basis: 10em;
		}
	}
	.layout.two_cols.with_memos > div:nth-child(2) {
		flex: 0 1 25em;
	}
}
@media ( max-width: $wideWidth ) {
	body.endi p.help {
		padding: $unitPadding 0 $unitPadding*2;
	}
}
@media ( min-width: $tabletWidth ) {
	body.endi .context_help {
		border-left: $simpleLine dashed $fadedGrey;
	}
}
@media ( max-width: $tabletWidth ) {
	body.endi .context_help {
		border-top: $simpleLine dashed $fadedGrey;
		margin-top: $unitPadding*2;
		ul {
			display: flex;
			flex-wrap: wrap;
			li {
				min-width: 15em;
				width: 50%;
			}
		}
	}
}
@media ( max-width: $mobileWidth ) {
	body.endi .alert {
		padding: $unitPadding*2;
	}
}
