// data tables

body.endi table {
	caption {
		border-top: 1px dashed var(--border-color);
		border-bottom: 1px dashed var(--border-color);
		font-weight: bold;
		margin-top: $unitPadding;
		padding: 2px 0;
		text-align: left;
	}
	th,
	td {
		font-size: .875rem;
		padding: 4px 2px;
		position: relative;
		&.status {
			color: $white;
			&.positive {
				background: $funcPositive;
			}
		}
		&.archive {
			color: var(--text-greyed-color);
			font-style: italic;
		}
	}
	&.summary th,
	&.summary td {
		padding: 2px 4px;
	}
	&.top_align_table td,
	tr.top_align th,
	tr.top_align td,
	th.top_align,
	td.top_align {
		padding: 10px 2px 6px;
		vertical-align: top;
		&.col_select {
			padding: 0 2px;
		}
	}
	thead th[scope="col"].col_select {
		vertical-align: middle;
	}
	thead tr.display {
		td {
			border-bottom: 1px solid var(--form-focus-line3-color);
			&.col_actions {
				padding: 0;
				text-align: center;
				&:first-child {
					min-width: 0;
					width: 1em;
				}
			}
		}
		.btn.small {
			padding: 5px;
		}
		.btn-group .dropdown-menu a.btn {
			padding-bottom: 5px;
			padding-top: 5px;
		}
	}
	thead tr.source {
		th,
		td {
			padding: 0 2px;
		}
	}
	th[scope="row"] {
		text-align: left;
	}
	th {
		strong {
			text-transform: uppercase;
		}
		span.icon {
			margin-right: .125rem;
			vertical-align: .125rem;
		}
		a:link,
		a:visited {
			color: var(--link-color);
		}
		a {
			text-decoration: none;
			&.icon {
				padding-left: 10px;
				position: relative;
				svg {
					bottom: 4px;
					fill: var(--svg-fill-color);
					height: 8px;
					left: 0;
					opacity: .25;
					position: absolute;
					vertical-align: baseline;
					width: 8px;
				}
			}
			&.icon.mini {
				svg {
					left: $unitPadding;
				}
			}
			&:hover,
			&:focus,
			&:active {
				text-decoration: underline;
				svg {
					opacity: 1;
				}
			}
			&.icon.current {
				padding-left: 14px;
				svg {
					height: 12px;
					margin-top: -6px;
					opacity: 1;
					width: 12px;
				}
			}
		}
	}
	thead th[scope="col"] {
		color: var(--text-greyed-color);
		height: 3.5em;
		line-height: 1.25;
		vertical-align: bottom;
	}
	tbody th {
		a:only-child {
			display: block;
		}
		a:link,
		a:visited {
			color: var(--text-color);
		}
	}
	td {
		text-align: center;
		input[type="text"],
		input[type="date"] {
			text-align: center;
		}
		strong {
			line-height: .75;
		}
		.icon_choice {
			padding: 0px;
			.toggle-buttons {
				padding: 0;
			}
			label {
				> span > span {
					display: none;
				}
			}
		}
		.icon_label svg {
			vertical-align: inherit;			
		}
	}
	input[type="text"],
	input[type="number"] {
		background: var(--table-input-background);
		padding: $unitPadding 0;
	}
	div.checkbox,
	div.radio,
	div.toggle {
		padding: .25em 0;
		width: 100%;
	}
	div.checkbox input[type="checkbox"],
	div.toggle input[type="checkbox"],
	div.radio input[type="radio"] {
		margin-top: .5rem;
	}
	.col_text {
		text-align: left;
		&.align_right {
			text-align: right;
		}
		input[type="text"] {
			text-align: left;
		}
	}
	$widths: (
		4,
		6,
		8,
		10,
		12,
		14,
	);
	@each $number in $widths {
		.col_text.min#{$number} {
			min-width: #{$number}em;
		}
	}
	td.col_text {
		hyphens: auto;
		overflow-wrap: anywhere;
		a {
			color: var(--text-color);
			display: block;
			line-height: 1.25;
			text-decoration: none;
		}
		a:hover,
		a:focus,
		a:active {
			text-decoration: underline;
		}
		li {
			overflow-wrap: anywhere;
		    padding: 0 0 4px;
		}
		small.description {
			display: block;
			display: -webkit-box;
			hyphens: none;
			line-clamp: 3 "…";
			max-height: 3.75em;
			overflow: hidden;
			padding: 2px 0;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
		}
		.icon.status {
			margin: $unitPadding $unitPadding $unitPadding 0;
		}
		button {
			hyphens: none;
		}
		&.form {
			> div {
				padding: $unitPadding*4 0 $unitPadding 0;
				button {
					margin: $unitPadding*4 $unitPadding*4 0 0;
				}
				div {
					overflow-wrap: anywhere;
				}
				a {
					display: inline;
					line-height: 1.75;
					&.icon.unstyled {
						margin: -($unitPadding*2) 0;
					}
				}
			}
		}
		&:not(.col_icon) .icon {
			margin: 0 .125em;
			svg {
				vertical-align: baseline;
			}
		}
	}
	td.col_icon {
		.icon svg {
			height: $smallIconSize;
			width: $smallIconSize;
		}
	}
	td.col_actions {
		max-width: 10.875rem;
		min-width: 3rem;
		padding: 0 5px;
		text-align: right;
		ul {
			list-style-type: none;
			padding: 0;
			text-align: right;
			li {
				display: inline-block;
				padding: 0;
			}
		}
		.btn {
			margin: 2px 0;
			text-align: left;
			&.up, 
			&.down {
				padding: $unitPadding*2 $unitPadding;
			}
		}
		.btn-container {
			margin: 0;
		}
		.btn-group {
			display: inline-block;
			padding-left: 0;
		}
		.dropdown-menu-right .btn {
			margin: 0;
		}
        .btn.icon.only {
            font-size: 0; /* hide text */
        }
		&.width_one {
			width: 3rem;
		}
		&.width_two {
			width: 5.625rem;
		}
		&.width_three {
			width: 8.25rem;
		}
		&.width_four {
			width: 10.875rem;
		}
		&.row_ordering {
			width: 4.375rem;
		}
	}
	tr:only-child .col_actions.row_ordering,
	tbody.lines:only-of-type tr:only-child td.col_actions.row_ordering {
		display: none;
	}
	tbody.lines tr:only-child .col_actions.row_ordering,
	tbody.lines + tbody tr:only-child .col_actions.row_ordering {
		display: table-cell;
	}
	tbody.collapse_title > tr,
	tbody.collapse_title > tr:not(.row_recap):not(.row_catalogue):not(.add_row):nth-child(2n+1) {
		background: var(--table-odd-line-theme-color);
	}
	tbody.collapse_content tr:last-child td:not(.empty):not(.level_spacer) {
		border-bottom: 1px dashed var(--border-color);
	}
	.col_status {
		&:not(.col_text) {
			height: 2.5rem;
			min-width: 1.5rem;
			max-width: 2.5rem;
			text-align: center;
			white-space: nowrap;
			width: 2.5rem;
		}
		&.col_text {
			.flex {
				align-items: center;
			}
		}
	}
	td.col_status:not(.col_text) {
		position: relative;
		vertical-align: middle;
		span.status {
			align-items: center;
			border-radius: 0;
			bottom: 0;
			display: flex;
			height: auto;
			justify-content: center;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			width: auto;
			svg {
				flex: 0 0 $smallIconSize;
			}
		}
		&:first-child + td {
			padding-left: $unitPadding;
		}
	}
	.col_number {
		text-align: right;
		input[type="text"] {
			text-align: right;
		}
	}
	td.col_number {
		padding-left: $unitPadding*2;
		white-space: nowrap;
		width: 3em;
		&.positive {
			color: var(--func-positive-color);
		}
		&.negative {
			color: var(--func-negative-color);
		}
		&.tva small {
			white-space: normal;
		}
		&.with_edit_button {
			white-space: normal;
			> span {
				white-space: nowrap;
			}
			.btn.unstyled {
				margin-top: $unitPadding;
			}
		}
	}
	.col_select {
		vertical-align: middle;
		width: 3em;
		label {
			padding: 0;
		}
		div.checkbox,
		div.radio {
			margin: 0 auto;
			transform: translateY( -.25rem );
			width: 1.5rem;
		}
		div.toggle {
			margin: .5rem auto;
			transform: translateY( -.25rem );
			width: 3rem;
		}
		.form-group {
			padding: 0;
		}
	}
	&.top_align_table .col_select {
		div.checkbox,
		div.radio {
			transform: translateY( .0625rem );
		}
	}
	.col_percentage_graphic {
		width: 180px;
		em {
			display: inline-block;
			font-size: .75rem;
			font-weight: normal;
			line-height: 1;
			text-align: left;
		}
	}
	.row_number {
		th {
			font-weight: normal;
		}
		td {
			text-align: right;
			white-space: nowrap;
			input[type="text"] {
				text-align: right;
			}
		}
	}
	.row_month {
		th, td {
			width: 4em;
		}
	}
	.row_total {
		th,
		td {
			font-weight: bold;
		}
	}
	thead .row_total {
		th,
		td {
			border-bottom: 1px solid $fadedGrey;
		}
	}
	tfoot .row_total {
		th,
		td {
			border-top: 1px solid $fadedGrey;
		}
	}
	td.total {
		font-weight: bold;
	}
	.row_recap {
		th,
		td {
			font-weight: bold;
		}
		.col_actions {
			background: var(--screen-background-color);
			white-space: nowrap;
			a.btn:not(.only),
			button:not(.only) {
				padding: 4px 10px 4px 5px;
				svg {
					margin: 0 2px;
				}
			}
		}
	}
	.row_recap th,
	.row_recap td:not(.level_spacer):not(.empty),
	.highlighted th,
	.highlighted td:not(.level_spacer):not(.empty),
	th.highlighted,
	td.highlighted:not(.level_spacer):not(.empty) {
		background: var(--table-row-recap-color);
	}
	.row_main th,
	.row_main td:not(.level_spacer):not(.empty),
	.row_recap.row_main th,
	.row_recap.row_main td:not(.level_spacer):not(.empty) {
		background: var(--theme-color);
		color: var(--theme-text-color);
	}
	.highlight_pen th,
	.highlight_pen td:not(.level_spacer):not(.empty),
	th.highlight_pen,
	td.highlight_pen:not(.level_spacer):not(.empty) {
		background: var(--highlight-color) !important;
		color: var(--theme-idependant-text-color) !important;
	}
	td.total {
		font-weight: bold;
	}
	.row_highlight {
		th,
		td {
			background: var(--message-default-background-color);
		}
	}
	.col_date,
	.col_datetime {
		width: 7em;
		overflow-wrap: normal;
	}
	.col_datetime {
		width: 10em;
	}
	td.col_status {
		font-size: .825rem;
	}
	tr.selected td {
		background: var(--table-row-recap-main-color);
	}
	tr.locked td.col_text,
	tr.locked td.col_date,
	tr.locked td.col_number {
		text-decoration: line-through;
	}
	tr.clickable-row,
	td.clickable-cell,
	td[onclick],
	tr[onclick] {
		cursor: pointer;
	}
	&.hover_table tbody:not(.total) > tr:not(.row_recap):not(.row_total):hover td:not([class*="spacer"]):not([class*="empty"]),
	&.hover_table tbody:not(.total) > tr:not(.row_recap):not(.row_total):hover th {
		background: var(--table-hover-line-color);
		text-shadow: none;
		.hidden_pdf {
			background: none;
			text-shadow: none;
		}
	}
	tbody > tr:not(.row_recap):not(.row_catalogue):not(.add_row):nth-child(2n + 1) {
		background: var(--table-odd-line-color);
	}
	tbody.collapse_title tr:first-child td {
		border-bottom: 1px solid $veryFadedGrey;
	}
	.total tr:first-child th:not(:empty),
	.total tr:first-child td:not(:empty) {
		border-top: 1px solid $veryFadedGrey;
	}
	tfoot tr:not(.row_total):first-child td:not(:empty),
	tfoot tr:not(.row_total):first-child th:not(:empty) {
		border-top: 1px solid $veryFadedGrey;
	}
	&.spaced_table {
		margin: $unitPadding 0;
	}
	h2,
	h3,
	h4,
	h5,
	h6 {
		hyphens: none;
		padding: 0;
	}
	h4 {
		text-align: left;
	}
	span.icon {
		&.help {
			vertical-align: text-top;
			svg {
				fill: $midGrey;
			}
		}
		svg {
			height: .75rem;
			width: .75rem;
		}
		&.tag svg {
			height: .875rem;
			flex-basis: .875rem;
			width: .875rem;
		}
		&.type {
			padding: 1px 0;
			svg {
				height: 1rem;
				width: 1rem;
			}
		}
	}
	th.table_hint,
	td.table_hint {
		padding-bottom: 20px;
		button.mini {
			bottom: 0;
			position: absolute;
			right: 0;
			z-index: 2;
		}
	}
	th.separate_right,
	td.separate_right {
		border-right: 1px dashed $midGrey;
	}
	th.separate_left,
	td.separate_left {
		border-left: 1px dashed $midGrey;
	}
	tr[class*="separate"] td.empty {
		padding: 0;
	}
	tr.separate_top th,
	tr.separate_top td {
		border-top: 2px solid var(--theme-color);
	}
	tr.separate_bottom th,
	tr.separate_bottom td {
		border-bottom: 2px solid var(--theme-color);
	}
	th.separator {
		background: var(--table-odd-line-color);
	}
	td .rich_editor {
		margin: -15px 0 0;
	}
	&.top_align_table td .rich_editor,
	tr.top_align td .rich_editor {
		margin-top: -11px;
	}
	th button.mini,
	td button.mini {
		&.icon {
			padding: 0;
		}
	}
	.level_spacer {
		background: var(--screen-background-color);
		width: $unitPadding;
	}
	.empty {
		background: var(--screen-background-color);
	}
	&.full_width {
		width: 100%;
	}
	.table_summary {
		&.first td:not(.level_spacer),
		td.first:not(.level_spacer),
		&.first th,
		th.first {
			border-top: 1px solid $veryFadedGrey;
		}
		&.last td:not(.level_spacer),
		td.last:not(.level_spacer),
		&.last,
		th.last {
			border-bottom: 1px solid $veryFadedGrey;
		}
		td,
		th {
			background: var(--screen-background-color);
		}
	}
	&.compte_resultat {
		thead {
			background: var(--screen-background-color);
			td,
			th {
				background: var(--screen-background-color);
			}
		}
		tbody tr:first-child {
			td,
			th {
				border-top: 1px solid $veryFadedGrey;
			}
		}
		input[type="text"] {
			width: 100%;
		}
	}
	button.mini.icon {
		padding: 0;
	}
}
body.endi .panel-body {
	table {
		width: 100%;
	}
}
body.endi .grand-total {
	table {
		border-collapse: collapse;
		tbody > tr:not(.row_recap):not(.row_catalogue):not(.add_row):nth-child(2n+1) {
			background: none;
		}
		th, 
		td {
			font-size: 1rem;
			padding: 0;
		}
		th[scope="row"] {
			font-weight: normal;
			line-height: 1.25;
			padding-right: 4px;
			&::after {
				content: "\A0:";
			}
			+ td {
				font-weight: bold;
				line-height: 1;
				padding-left: 4px;
			}
		}
		.icon:not(.status) svg {
			height: 1rem;
			width: 1rem;
		}
	}
}
body.endi .table_container {
	background: var(--screen-background-color);
	width: 100%;
	&:not(.scroll_hor) thead {
		background: var(--screen-background-color);
		position: sticky;
		top: 0;
		z-index: $stickyContentLayer;
	}
	table {
		width: 100%;
	}
	&.scroll_hor {
		max-width: 100%;
		overflow-y: auto;
	}
	+ .actions {
		padding-top: $unitPadding;
	}
}
@media ( min-width: $extrawideWidth ) {
	body.endi table {
		td.col_number {
			padding-left: $unitPadding*6;
		}
		.col_date {
			width: 9em;
		}
		.col_datetime {
			width: 12em;
		}
	}
}
@media ( min-width: $wideWidth ) {
	body.endi table {
		.level_spacer {
			width: $unitPadding*3;
		}
	}
}
@media ( min-width: $desktopWidth ) {
	body.endi table {
		.level_spacer {
			width: $unitPadding*2;
		}
		td.col_text.phone {
			white-space: nowrap;
			width: 11em;
		}
	}
}
@media ( max-width: $desktopWidth ) {
	body.endi table {
		td.col_actions.row_ordering {
			width: 3rem;
		}
	}
}
@media ( min-width: $tabletWidth ) {
	body.endi .main_toolbar:not(.nav_tools) ~ div .table_container {
		thead {
			top: 3.5em;
		}
	}
	body.endi .main_toolbar:not(.nav_tools):empty ~ div .table_container,
	body.endi .main_toolbar:not(.nav_tools) ~ div .modal_view .table_container {
		thead {
			top: 0;
		}
	}
}
@media ( min-width: $tabletWidth ) {
	body.endi table {
		tbody tr:last-child td.col_actions.row_ordering {
			li:only-child .btn.up {
				margin-right: 2.625ren;
			}
		}
	}
}
@media ( max-width: $tabletWidth ) {
	body.endi table {
		td.col_number {
			padding-left: $unitPadding;
		}
		td.col_actions {
			&.row_ordering {
				width: 3rem;
			}
		}
		.col_date,
		.col_datetime {
			min-width: 3.25em;
			width: 3.25em;
			overflow-wrap: anywhere;
		}
		.col_percentage_graphic {
			width: 7.5rem;
		}
	}
	body.endi {
		.table_container {
			max-width: calc( 100% - 20px );
			margin-right: 20px;
			overflow-x: auto;
			overflow-y: visible;
		}
		.layout[class*="_cols"] .table_container {
			padding: 0;
		}
	}
}
@media ( max-width: $mobileWidth ) {
	body.endi table {
		tr {
			min-height: 3rem;
			position: relative;
		}
		td.col_actions {
			position: static;
			.btn-group .dropdown-menu-right {
				right: 10px;
			}
		}
		.col_percentage_graphic {
			width: 6.25rem;
		}
	}
	body.endi .table_container {
		max-width: 100%;
		overflow-x: auto;
		overflow-y: visible;
	}
}
@media print { // styles used when printing pages
	body.endi table {
		border: 1px solid $fadedGrey;
		border-collapse: collapse;
		width: 100%;
		td,
		th {
			border: 1px solid $fadedGrey;
		}
		.col_actions {
			display: none;
		}
		.col_select {
			visibility: hidden;
		}
	}
}
